@import '../../asset/css/*'

footer
    background linear-gradient(#2a3038, #191C21)
    padding 40px

    nav
        align-items center
        display grid
        grid-auto-flow column
        grid-gap 3vw 3vw
        grid-template-columns 1fr
        margin 0 auto
        margin-bottom margin60
        max-width 1000px

        ul
            align-items center
            display flex
            list-style-type none

            li ~ li
                margin-left nav-margin-pc

    .navLink
        margin-bottom mb-adjust

    .navLink.jp
        font-size responsive 12px 14px
        letter-spacing -.06ex

    .iconLink li a
        align-items center
        display flex

    .navCV
        li a
            align-content center
            background activeColor
            border-radius 3px
            color #000000
            display block
            padding 2px 0 1px
            text-align center
            width 8vw

            &.disactive
                background #fff
                cursor default
                opacity .5

    @media (--sp2: )
        nav
            grid-auto-flow dense
            grid-gap 3vw 4vw
            grid-template-columns repeat(10, 1fr)
            grid-template-rows repeat(2, 1fr)

            ul li ~ li
                margin-left nav-margin-pc * 2.2

        .navLink
            grid-column 1 / -1
            justify-self center

        .iconLink
            grid-column 1 / -1
            justify-self center
            order 1

        .navCV
            grid-column 1 / -1
            justify-self center

        .navCV
            li a
                width 100px

    @media (--sp: )
        nav
            grid-gap 20px 20px
            margin-bottom 30px

        .navLink
            display none

    h1
        font-size 2rem
        font-weight normal
        margin-bottom margin16

    h1, .lang
        text-align center