@import '../../asset/css/*'

footer
    background linear-gradient(#2a3038, #191C21)
    padding 40px

    nav
        align-items center
        display grid
        grid-auto-flow column
        grid-gap 3vw 3vw
        grid-template-columns 1fr
        margin 0 auto
        margin-bottom margin60
        max-width 1000px

        ul
            align-items center
            display flex
            list-style-type none

            li ~ li
                margin-left nav-margin-pc

    .navLink
        margin-bottom mb-adjust

    .iconLink li a
        align-items center
        display flex

    .navCV
        li a
            align-content center
            background activeColor
            border-radius 3px
            color #000000
            display block
            padding 2px 0 1px
            text-align center
            width 8vw

    @media (--tablet: )
        nav
            grid-auto-flow dense
            grid-template-columns repeat(10, 1fr)
            grid-template-rows repeat(2, 1fr)

        .navLink
            grid-column 1 / 7
            justify-self end

            @media (--sp2: )
                grid-column 1 / 8

        .iconLink
            justify-self start

        .navCV
            grid-column 1 / -1
            justify-self center

        .navCV
            li a
                width 12vw

    @media (--sp: )
        // padding 2vw common-pd // .gNav
        .navLink
            display none

        .iconLink
            grid-column 1 / -1
            justify-self center
            order 1

        .navCV
            li ~ li
                margin-left nav-margin-pc * 3

            li a
                width 120px

        nav
            grid-gap 4vw 4vw

        nav ul li ~ li
            margin-left nav-margin-pc * 2

    h1
        margin-bottom margin16

    h1, .lang
        text-align center