@import '../../asset/css/*'

.history
    margin 0 auto
    max-width 1000px

    .press, .exhibition, .award
        display none

    .press.active, .exhibition.active
        animation fadeIn 1s
        display grid

    .award.active
        animation fadeIn 1s
        display block

@keyframes fadeIn
    0%
        opacity 0
        transform translateY(10px)

    100%
        opacity 1
        transform translateY(0)