@import '../../asset/css/*'

.history
    margin 0 auto
    max-width 1000px

    .press, .exhibition, .award
        display none

    .press.active, .exhibition.active
        display grid

    .award.active
        display block