@import '../../asset/css/*'

.gNav
    background #000
    color #fff
    display grid
    grid-auto-flow column
    grid-gap 5px common-pd
    grid-template-columns 1fr
    padding 1vw common-pd
    position absolute
    width 100%
    z-index 1

    h1
        font-size 2rem
        font-weight normal
        justify-self start
        margin-bottom 0
        padding-top 2px

        a
            display grid

        img
            max-width 100%

            @media (--pc: )
                max-width 80%

            @media (--tablet: )
                max-width 76%

            @media (--sp: )
                max-width 56%

        @media (--sp: )
            font-size 20px
            z-index 2

    h1.jp
        padding-top 0

    ul
        align-items center
        display flex
        list-style-type none

        li ~ li
            margin-left nav-margin-pc

    .navLink
        font-size responsive 12px 16px
        margin-bottom mb-adjust

        .navCV
            display none
            margin-top 20px

            @media (--sp: )
                display block

                li
                    display inline-block

                li ~ li
                    margin-left 10px

                li a
                    width 100px

    .navLink.jp
        font-size responsive 12px 14px
        letter-spacing -.06ex

        .lang
            margin-bottom -3px

    .navCV
        li a
            align-content center
            background activeColor
            border-radius 3px
            color #000000
            display block
            padding 2px 0 1px
            text-align center
            width 8vw

            &.disactive
                background #fff
                cursor default
                opacity .5

    @media (--tablet: )
        grid-auto-flow dense
        grid-template-columns 1fr 1fr // .gNav

        .navLink
            grid-column 1 / -1
            justify-content center

        .navCV
            justify-self end

        .navCV
            li a
                width 12vw

    @media (--sp: )
        padding 2vw common-pd // .gNav

        .navLink
            display none

            li
                animation fadeIn 1s

            &.active
                align-content center
                background #000
                display grid
                font-size 1.2rem
                grid-gap rfs(30px)
                height 100vh
                justify-items center
                left 0
                position fixed
                top 0
                width 100%
                z-index 1

        .navCV
            li a
                width 64px

.spMenu
    align-items center
    background rgba(#000, .7)
    bottom rfs(20px)
    color #fff
    display none
    grid-template-columns auto auto
    justify-items center
    padding 10px 10px 12px
    position fixed
    width 120px

    h3
        font-size 16px
        margin-bottom mb-adjust

    @media (--sp: )
        display grid
        z-index 2

/* =====================
  sp時 navlink fadeIn
===================== */
@keyframes fadeIn
    0%
        opacity 0
        transform translateY(10px)

    100%
        opacity 1
        transform translateY(0)

/* =====================
  .spMenu Hamburg animation
===================== */
/* common */
.menu-trigger, .menu-trigger span
    box-sizing border-box
    display inline-block
    transition all .4s

.menu-trigger
    height 20px
    position relative
    width 28px

    &:focus
        outline none

.menu-trigger span
    background-color #fff
    border-radius 2px
    height 2px
    left 0
    position absolute
    width 100%

.menu-trigger span:nth-of-type(1)
    top 0

.menu-trigger span:nth-of-type(2)
    top 9px

.menu-trigger span:nth-of-type(3)
    bottom 0

/* animation */
.menu-trigger span:nth-of-type(1)
    animation menu-bar01 .75s forwards
    -webkit-animation menu-bar01 .75s forwards

@keyframes menu-bar01
    0%
        -webkit-transform translateY(9px) rotate(45deg)

    50%
        -webkit-transform translateY(9px) rotate(0)

    100%
        -webkit-transform translateY(0) rotate(0)

@keyframes menu-bar01
    0%
        transform translateY(9px) rotate(45deg)

    50%
        transform translateY(9px) rotate(0)

    100%
        transform translateY(0) rotate(0)

.menu-trigger span:nth-of-type(2)
    opacity 1
    transition all .25s .25s

.menu-trigger span:nth-of-type(3)
    animation menu-bar02 .75s forwards
    -webkit-animation menu-bar02 .75s forwards

@keyframes menu-bar02
    0%
        -webkit-transform translateY(-9px) rotate(-45deg)

    50%
        -webkit-transform translateY(-9px) rotate(0)

    100%
        -webkit-transform translateY(0) rotate(0)

@keyframes menu-bar02
    0%
        transform translateY(-9px) rotate(-45deg)

    50%
        transform translateY(-9px) rotate(0)

    100%
        transform translateY(0) rotate(0)

.menu-trigger.active span:nth-of-type(1)
    animation active-menu-bar01 .75s forwards
    -webkit-animation active-menu-bar01 .75s forwards

@keyframes active-menu-bar01
    0%
        -webkit-transform translateY(0) rotate(0)

    50%
        -webkit-transform translateY(9px) rotate(0)

    100%
        -webkit-transform translateY(9px) rotate(45deg)

@keyframes active-menu-bar01
    0%
        transform translateY(0) rotate(0)

    50%
        transform translateY(9px) rotate(0)

    100%
        transform translateY(9px) rotate(45deg)

.menu-trigger.active span:nth-of-type(2)
    opacity 0

.menu-trigger.active span:nth-of-type(3)
    animation active-menu-bar03 .75s forwards
    -webkit-animation active-menu-bar03 .75s forwards

@keyframes active-menu-bar03
    0%
        -webkit-transform translateY(0) rotate(0)

    50%
        -webkit-transform translateY(-9px) rotate(0)

    100%
        -webkit-transform translateY(-9px) rotate(-45deg)

@keyframes active-menu-bar03
    0%
        transform translateY(0) rotate(0)

    50%
        transform translateY(-9px) rotate(0)

    100%
        transform translateY(-9px) rotate(-45deg)
