@import '../../asset/css/*'

nav-margin-pc = 1.666667vw

.gNav
    background #000
    color #ffffff
    display grid
    grid-auto-flow column
    grid-template-columns 1fr
    padding .56vw common-pd

    h1
        justify-self start

    ul
        align-items center
        display flex
        list-style-type none

        ~ ul
            margin-left nav-margin-pc

        li ~ li
            margin-left nav-margin-pc

    ul.navCV
        li a
            background activeColor
            display block
            text-align center
            width 94px

    @media (--tablet: )
        grid-auto-flow dense
        grid-template-columns 1fr 1fr

        .navLink
            grid-column 1 / -1
            justify-content center

        .navCV
            justify-self end
