@import '../../asset/css/*'

main.shortmovie
    .card
        position relative
        width 100%

        iframe
            background rgba(#fff, .2)
            border-radius rfs(1rem)
            display block
            margin 0 auto
            padding margin20

    @media (--tablet: )
        .card
            padding-top 56.25%

        iframe
            height 100% !important
            // height 54%
            left 50%
            max-width 1000px
            position absolute
            top 0
            transform translateX(-50%)
            width 100%