@import '../../asset/css/*'

main.shortmovie
    padding-bottom margin60

    ul.card
        margin 0 auto
        position relative
        text-align center
        width 70%

        li
            background rgba(#fff, .2)
            border-radius rfs(1rem)
            display inline-block
            list-style none
            margin-bottom margin60
            padding 16px

        iframe
            display block
            margin 0 auto

        iframe:last-child
            margin-bottom 0

    @media (--tablet: )
        .card
            padding-top 56.25%

        iframe
            height 100% !important
            // height 54%
            left 50%
            max-width 1000px
            position absolute
            top 0
            transform translateX(-50%)
            width 100%

.caption
    // font-size --font-size
    line-height 1
    padding-top 14px
    text-align left