@import '../../../asset/css/_setting.styl'

.gNav, footer
    div.lang
        color rgba(basicColor, .6)
        display inline-block

        span
            cursor pointer

footer
    div.lang
        display block
        font-size 90%