@import '../../asset/css/*'

.contact
    margin 0 auto
    max-width 840px

    h2
        margin-bottom rfs(30px)

    label
        display block
        margin-bottom rfs(5px)
        margin-top rfs(20px)

    input, textarea
        // border 1px solid #fff
        background baseBgColor01
        border-radius rfs(3px)
        display block
        // margin-bottom rfs(20px)
        padding rfs(5px) rfs(10px)
        width 100%

    // textarea
    button
        background rgba(activeColor, .6)
        // border 1px solid activeColor
        border-radius rfs(3px)
        color #000
        margin-top rfs(30px)
        padding rfs(5px) rfs(20px)