@import '../../asset/css/*'

div.top
    display grid
    grid-gap margin80 0
    grid-template-columns 1fr
    padding margin80 0

    @media (--tablet: )
        section
            padding 0 common-pd * 2
