@import '../../asset/css/_setting.styl'

div.top
    display grid
    grid-template-columns 1fr

    section
        padding rfs(80px) rfs(20px)

        @media (--sp: )
            padding rfs(100px) rfs(20px)

    section.mainVisual
        padding 0