@import '../../../asset/css/*'

textFieldPadding = rfs(12px)
textFieldBackground = rgba(#000 1)
transitionProperty = all .6s

section.mainVisual
    align-items stretch
    background #000
    display flex
    height 60vh
    justify-content center
    overflow hidden
    position relative
    width 100%

    iframe
        border 0 activeColor solid
        margin-right -650px
        top 0 !important
        width 100%

    p.subtitle
        background textFieldBackground
        border-radius rfs(6px)
        color rgba(#fff .75)
        font-family 'Parisienne', cursive
        font-size 2.4rem
        font-weight 100
        left 50%
        margin-left -210px
        opacity 1
        padding textFieldPadding
        position absolute
        top 12vh
        transform translateX(-50%)
        transition transitionProperty
        width 480px

    ul.text
        background textFieldBackground
        border-radius rfs(6px)
        bottom 5vh
        left 50%
        list-style-type none
        margin-left -205px
        padding textFieldPadding textFieldPadding 30px
        position absolute
        transform translateX(-50%)
        transition transitionProperty
        width 480px

        li.title
            font-size 1.6rem
            line-height 1
            margin-bottom 5px

            img
                display none

        li.location
            color rgba(#fff .6)
            font-size .8rem
            margin-bottom rfs(16px)
            transition transitionProperty
            white-space pre-wrap

        li.description
            font-size .8rem
            line-height 2
            margin-bottom 10px
            max-height 50px
            overflow hidden
            padding-right 10px
            position relative
            transition transitionProperty
            white-space pre-wrap

        li.cover
            background rgb(0, 0, 0)
            background linear-gradient(0, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 100%)
            bottom 10px
            height 80px
            left 0
            position absolute
            transition transitionProperty
            width 100%

        img
            bottom 10px
            cursor pointer
            left 50%
            opacity 1
            position absolute
            transform rotate(360deg)
            transform-origin center
            transition transitionProperty
            width rfs(1.6rem)

    p.count
        bottom rfs(8px)
        font-size 1.6rem
        position absolute
        right common-pd

        .popUp
            background textFieldBackground
            bottom 0
            display block
            font-size .8rem
            left -330px
            opacity 0
            padding rfs(5px)
            position absolute
            text-align right
            transform translateY(10%)
            transition transitionProperty
            width 320px
            z-index -1

        .popUp.active
            opacity 1
            transform translateY(0)
            z-index 0

    @media (--tablet: )
        display block

        // height 100vw
        iframe
            filter blur(0)
            position relative
            transition transitionProperty
            width 100% !important

        iframe.open
            filter blur(.6rem)

        p.subtitle
            display none

        ul.text
            background rgba(textFieldBackground, 0)
            bottom rfs(8px)
            left 0
            margin-left 6px
            padding textFieldPadding textFieldPadding 0
            transform translateX(0)
            width calc(100vw - 12px)

            li.title
                font-size 1.2rem

                img
                    bottom 1px
                    display inline-block
                    left 0
                    margin-left rfs(20px)
                    position relative

            li.location
                margin 0
                max-height 0
                overflow hidden

            li.description
                margin-bottom 0
                max-height 0
                // transition transitionProperty

            li.cover
                transform translateY(120%)

            img.arrowPC
                display none

        ul.text.open
            li.location
                margin-bottom rfs(16px)
                max-height 20px

            li.description
                display block

            li.cover
                transform translateY(0)

    p.subtitle.open
        opacity 0

    ul.text.open
        background rgba(textFieldBackground, 1)

        li.description
            margin-bottom 0
            max-height calc(50vh - 100px)
            overflow-y scroll
            padding-bottom 10px
            scrollbar-width none /* Firefox 対応 */
            -ms-overflow-style none /* IE, Edge 対応 */
            -webkit-overflow-scrolling touch

            &::-webkit-scrollbar /* Chrome, Safari 対応 */
                display none

            @media (--tablet: )
                max-height calc(80vw - 20px)
                padding-bottom 50px

        li.cover
            bottom 0

        img
            transform rotate(180deg)

    @media (--sp2: )
        height 100vw
