@import '../../../asset/css/*'

section.mobileApp
    background baseBgColor01

    .wrap
        display grid
        grid-auto-flow dense
        grid-gap 24px 0
        grid-template-columns repeat(2, 1fr)
        grid-template-rows repeat(2, 1fr)
        margin 0 auto
        max-width 1000px

        .text
            h1
                align-items center
                display flex
                font-size 2.4rem
                margin-bottom rfs(28px)

                span
                    margin-top rfs(10px)

                img
                    margin-right rfs(12px)
                    width 64px

                    @media (--sp: )
                        width 46px

            p
                font-size 1.6rem
                line-height 1.6
                white-space pre-wrap

                &.jp
                    font-size 1.2rem
                    line-height 2

        .movie
            grid-column 2 / end
            grid-row 1 / end
            justify-self end
            text-align center

            video
                border rfs(18px) solid #20242A
                border-radius rfs(36px)
                display none
                max-width 458px
                width 100%

                &.mobile
                    width 90%

                &.mobile.active
                    display inline-block

                &.tablet.active
                    display inline-block

            figure
                margin-bottom rfs(6px)

            p
                font-size 1.2rem
                text-align center

                .tablet.active, .mobile.active
                    color activeColor

                span
                    cursor pointer
                    transition .6s

                span:hover
                    color activeColor

        .banner
            img
                max-height rfs(48px)

            .price
                letter-spacing .06rem
                padding-bottom rfs(20px)

                // padding-top common-pd * 2
                .strike_through
                    color activeColor
                    font-family serif, 'Sawarabi Mincho'
                    font-size 1.4rem
                    text-decoration line-through

                .emp
                    font-family serif, 'Sawarabi Mincho'
                    font-size 2.4rem

        .banner a ~ a
            margin-left rfs(20px)

    @media (--tablet: )
        .wrap
            grid-gap common-pd * 2
            grid-template-columns 1fr
            grid-template-rows auto
            text-align center

            @media (--sp: )
                .text p
                    text-align left

            .movie
                display grid
                grid-column auto
                grid-row auto
                justify-content center
                justify-self center

                video.mobile
                    margin 0 auto
