@import '../../../asset/css/*'

section.mobileApp
    background baseBgColor01
    padding margin80 0

    .wrap
        display grid
        grid-auto-flow dense
        grid-gap 24px 0
        grid-template-columns repeat(2, 1fr)
        grid-template-rows repeat(2, 1fr)
        margin 0 auto
        max-width 1000px

        .text
            h1
                margin-bottom common-pd * 1.5

            p
                font-size --font-size * 2

        .movie
            grid-column 2 / end
            grid-row 1 / end
            justify-self end
            text-align center

            video.mobile
                border rfs(18px) solid #20242A
                border-radius rfs(36px)
                display none
                max-width 458px
                width 90%

            video.mobile.active
                display inline-block

            video.tablet
                border rfs(24px) solid #20242A
                border-radius rfs(36px)
                display none
                max-width 458px

            video.tablet.active
                display inline-block

            video
                width 100%

            p
                text-align center

                .tablet.active, .mobile.active
                    color activeColor

                span
                    cursor pointer
                    transition .6s

                span:hover
                    color activeColor

        .banner img
            max-height rfs(48px)

        .banner img ~ img
            margin-left rfs(20px)

    @media (--tablet: )
        .wrap
            grid-gap common-pd * 2
            grid-template-columns 1fr
            grid-template-rows auto
            padding margin80 0
            text-align center

            .movie
                display grid
                grid-column auto
                grid-row auto
                justify-content center
                justify-self center

                video.mobile
                    margin 0 auto
