@import './_setting.styl'
@import url('https://fonts.googleapis.com/css?family=Parisienne|Sorts+Mill+Goudy&display=swap')
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.0/dist/css/yakuhanjp.min.css')

/* =====================
  html
===================== */
html
  // background #000
  font-size responsive 12px 18px

/* =====================
  body
===================== */
body
  color basicColor
  font-family 'Sorts Mill Goudy', YakuHanMP, '游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HG明朝E', 'ＭＳ 明朝', serif
  // font-family: 'Parisienne', cursive, 'times new roman',;

.App
  display flex
  flex-direction column
  height 100vh

main
  background #20242A
  flex-grow 1

section.component
  padding margin80 common-pd

/* =====================
  gNav, fNav
===================== */
.gNav a, .fNav a, .historyTabs a
  color basicColor

.gNav ul:not(.navCV) a.active, .fNav ul:not(.navCV) a.active
  color activeColor

img.sp
  display none

br.sp
  display none

@media (--sp: )
  img.pc
    display none

  img.sp
    display inline-block

  br.sp
    display inline-block