@import './_setting.styl'
@import url('https://fonts.googleapis.com/css?family=Parisienne|Sorts+Mill+Goudy&display=swap')
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho')
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap')
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanmp_s.min.css')

/* =====================
  html
===================== */
html
  // background #000
  font-size responsive 12px 18px

/* =====================
  body
===================== */
body
  color basicColor
  font-family YakuHanMPs, 'Sorts Mill Goudy', '游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HG明朝E', 'ＭＳ 明朝', 'Sawarabi Mincho', serif
  // font-family: 'Parisienne', cursive, 'times new roman',;

.App
  display flex
  flex-direction column
  height 100vh

main
  background #20242A
  flex-grow 1
  z-index 0

section.component
  padding rfs(60px) common-pd

/* =====================
  h1,h2,h3,h4,h5,h6,
===================== */
h1
  font-size 3rem
  line-height 1
  margin-bottom .5rem

h2
  font-size 2.25rem
  line-height 1.3333
  margin-bottom .66667rem

h3
  font-size 1.5rem
  line-height 1
  margin-bottom 1rem

h4, h5, h6
  font-size 1rem

h1, h2, h3, h4, h5, h6
  font-weight normal

/* =====================
  gNav, fNav
===================== */
.gNav a, .fNav a, .historyTabs a
  color basicColor

.gNav ul:not(.navCV) a.active, .fNav ul:not(.navCV) a.active
  color activeColor

img.sp
  display none

br.sp
  display none

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

@media (--sp: )
  img.pc
    display none

  img.sp
    display inline-block

  br.sp
    display inline-block