@import './*'
@import url('https://fonts.googleapis.com/css?family=Parisienne|Sorts+Mill+Goudy&display=swap')

/* =====================
  html
===================== */
html
  font-size responsive 10px 20px

/* =====================
  body
===================== */
body
  font-family 'Sorts Mill Goudy', serif
  // font-family: 'Parisienne', cursive;

/* =====================
  gNav, fNav
===================== */
.gNav a, .fNav a
  color #fff

.gNav ul:not(.navCV) a.active, .fNav ul:not(.navCV) a.active
  color activeColor