@custom-media --sp (max-width: 480px) // 
@custom-media --sp2 (max-width: 767px) // 
@custom-media --tablet (max-width: 1024px) // 
@custom-media --pc (max-width: 1200px) // 
// 
--font-size = 75% // 16px
common-pd = 2.08vw // 
// color //
activeColor = #fed32b