@custom-media --sp (max-width: 480px) // 
@custom-media --sp2 (max-width: 767px) // 
@custom-media --tablet (max-width: 1024px) // 
@custom-media --pc (max-width: 1200px) // 
// 
--font-size = 75% // 16px
common-pd = 2.08vw // 30px
margin16 = 1.111111111vw // 16px
margin20 = 1.388888889vw // 20px
margin40 = 2.777777778vw // 40px
margin50 = 3.472222222vw // 50px
margin60 = 4.166666667vw // 60px
margin90 = 6.25vw // 90px
nav-margin-pc = 1.666667vw
// color //
activeColor = #fed32b
// text position adjust //
mb-adjust = -2px