@custom-media --sp (max-width: 480px) // 
@custom-media --sp2 (max-width: 767px) // 
@custom-media --sp3 (max-width: 600px) // 
@custom-media --tablet (max-width: 1023px) // 
@custom-media --pc (max-width: 1200px) // 
// 
--font-size = 75% // 16px
common-pd = 2.08vw // 30px
margin10 = .694444444vw // 10px
margin16 = 1.111111111vw // 16px
margin20 = 1.388888889vw // 20px
margin40 = 2.777777778vw // 40px
margin50 = 3.472222222vw // 50px
margin60 = 4.166666667vw // 60px
margin80 = margin40 * 2 // 80px
margin90 = 6.25vw // 90px
margin120 = margin60 * 2 // 120px
nav-margin-pc = 1.666667vw
// color //
basicColor = #eff2f4
activeColor = #fed32b
baseBgColor01 = #2A3038
baseBgColor02 = #4E5257
// text position adjust //
mb-adjust = -2px