@import '../../../asset/css/_setting.styl'

div.award
    h2
        font-size responsive 18px 28px
        line-height 1.8
        margin-bottom 16px
        text-align center

        &:last-child
            margin-bottom 0

        span
            display inline-block

        span ~ span
            margin-left margin10

        .emp
            color activeColor

        .num
            font-size 1.6em

        @media (--sp: )
            line-height 1.4