@import '../../../asset/css/*'

div.exhibition ul.table
    display grid
    grid-template-columns 110px 1fr
    list-style none
    margin-bottom rfs(50px)
    // margin 0 auto
    max-width 960px

    li
        align-items center
        background rgba(baseBgColor02, .6)
        border-left 1px solid baseBgColor01
        display grid
        // line-height rfs(36px)
        min-height rfs(36px)

    li:nth-of-type(4n)
        border-left 1px solid baseBgColor02

    li:nth-of-type(4n-1), li:nth-of-type(4n)
        background baseBgColor01

    li.filed
        padding 0 16px

    li.content
        padding 0 24px

    @media (--sp3: )
        grid-template-columns 1fr

        li.content
            padding 10px 16px

        li:nth-of-type(4n-1), li:nth-of-type(4n)
            background rgba(baseBgColor02, .6)

        li:nth-of-type(2n)
            background baseBgColor01

        li:nth-of-type(4n)
            border-left 0