@import '../../../asset/css/_setting.styl'

ul.historyTabs
    display grid
    font-size --font-size * 1.5
    grid-template-columns repeat(3, 200px)
    justify-content center
    margin-bottom rfs(60px)

    li
        list-style none
        text-align center

        span
            border-bottom 2px solid #4E5257
            cursor pointer
            display block
            line-height 1.6
            transition .6s

        // a.disable
        // pointer-events none
        span.active
            border-bottom 2px solid activeColor
            color activeColor

        span:hover
            border-bottom 2px solid activeColor
            color activeColor

    @media (--tablet: )
        grid-template-columns repeat(3, 1fr)
